const char* resolutionStrings[] = 
{ 
    "1280x720"
    "1600x900"
    "1920x1080"            
};
Resolution resolutions[] =
{
    Resolution{1280, 720},
    Resolution{1600, 900},
    Resolution{1920, 1080}
};

const char* currentResolutionString = mSettings.resolution.toString().c_str();
if (ImGui::BeginCombo("Resolution", currentResolutionString))
{
    for (int i = 0; i < 3; i++)
    {
        bool isSelected = mSettings.resolution == resolutions[i];
        if (ImGui::Selectable(resolutionStrings[i], isSelected))
        {
            mSettings.resolution = resolutions[i];
        }

        if (isSelected)
            ImGui::SetItemDefaultFocus();
    }

    ImGui::EndCombo();
}