.image-link {
    color: #28262C;
    font-weight: bold;
    display: flex;
    align-items: center;
    column-gap: .5rem;
    text-decoration: none;
}

.image-link span {
    text-decoration: underline;
}