@page "/"

<PageTitle>Home</PageTitle>

<article>
    <heading class="home-heading">
        <h1>Nathan Mayes</h1>
        <h2>C++ and C# Developer</h2>
        <div class="skills-and-portrait">
            <div class="skills">
                <img draggable="false" src="/images/cpp.svg" alt="C++" title="C++" />
                <img draggable="false" src="/images/csharp.svg" alt="C#" title="C#" />
                <img draggable="false" src="/images/python.svg" alt="Python" title="Python" />
            </div>
            <img class="portrait-frame" draggable="false" src="/images/me.jpg" alt="A lovely picture of me!" />
            <div class="skills">
                <img draggable="false" src="/images/sql.svg" alt="SQL" title="SQL" />
                <img draggable="false" src="/images/windows.svg" alt="Windows" title="Windows" />
                <img draggable="false" src="/images/linux.svg" alt="Linux" title="Linux" />
            </div>
        </div>
        <div class="socials">
            <div class="links">
                <ButtonLink Url="https://github.com/njmayes"
                           Image="/images/github.svg" Text="GitHub" />
                <ButtonLink Url="https://www.linkedin.com/in/nathan-mayes-064439156/"
                           Image="/images/linkedin.svg" Text="LinkedIn" />
                <ButtonLink Url="mailto:nmayes.dev@gmail.com" Text="nmayes.dev@gmail.com"
                           Image="/images/gmail.svg" />
            </div>
        </div>
    </heading>

    <section class="home-body">
        <p>
            Hi! I'm Nathan, and welcome to a little window into my programming world.
        </p>
        <p style="display: inline-block">
            In my job, I use modern C++ (and some Python) to develop games, backend libraries, and game stats for <a href="https://innov8gaming.com/main/">Innov8 Gaming</a>. I also have
            professional experience using C#, .NET, and SQL Server to create web applications and backend services. I also use C# and Blazor in my personal projects, such as this website!
        </p>
        <p>
            In my spare time I also enjoy coding, and I have a passion for low-level development. You'll usually find me using C++ or C# in my personal projects.
            I'm also a big fan of music, being a bass guitar player, as well as cricket and F1. I love to try and find ways to mix my passion for coding with my other hobbies.
        </p>
    </section>
</article>