@page "/projects"
@rendermode InteractiveWebAssembly

<PageTitle>Projects</PageTitle>

<article class="projects">
    <heading class="projects-heading">
        <h1>Projects</h1>
    </heading>
    <section class="projects-intro">
        <p>
            Here you'll find a collection of my personal projects. I have worked on a range of different projects in various different
            languages and domains. However my passion is for low level projects usually written in C++.
        </p>
    </section>
    <section class="projects-body">
        <ProjectElement Name="streamline-cpp">
            <Summary>
                <p>
                    A C++23 general purpose application framework.
                </p>
            </Summary>
            <Detail>
                <p>
                    streamline-cpp is a general purpose C++23 framework/library that contains a collection of shared code from various projects I have made over the years.
                    The basis of the library comes from my WIP game engine <a href="https://github.com/amayesingnathan/LabyrinthEngine">Labyrinth</a>
                    and my C++20 Dear ImGui wrapper <a href="https://github.com/amayesingnathan/imgui-cpp">imgui-cpp</a>.
                </p>
                <p>
                    This is combined with various other nice utilities such as:
                    <ul>
                        <li>Rust-style enum types - transform a C++ enum into a proper sum type with associated data. </li>
                        <li>Includes a constexpr friendly match function with O(1) dispatch table. </li>
                        <li>A basic runtime reflection system with an API modelled on C#. </li>
                        <li>Logging libary - ~3m messages/sec throughput (not at all widely tested, benchmarking included in source). </li>
                        <li>Memory mapped files (Windows + POSIX support only) </li>
                    </ul>
                </p>
                <CodeBlock Sample="streamline-cpp"/>
            </Detail>
        </ProjectElement>
        <ProjectElement Name="Steel Pans" Link="https://pans.nmayes.dev/">
            <Summary>
                <p>
                    An interactive practice tool for the steel pans.
                </p>
            </Summary>
            <Detail>
                <p>
                    Steel Pans is an interactive practice tool for steel pans. It was created for my sister for the steel pan ensemble she plays in (<a href="https://culturemixarts.co.uk/" target="_blank">check them out here!</a>).
                    Steel Pans is deeply rooted in oral and aural tradition, which means there can be a lack of resources out there for learning.
                </p>
                <p>
                    This app was designed for users to be able to both play around on different visual layouts of a pan, but more importantly be able to play back MIDI tracks of different parts 
                    in order to make it easier to learn. This app supports several differnt pan layouts, and users can upload MIDI files to play.
                </p>
                <img class="project-img" src="/images/steelpans.png" />
            </Detail>
        </ProjectElement>
        <ProjectElement Name="Gungeon Ally">
            <Summary>
                <p>
                    An Blazor WASM Enter the Gungeon companion web app.
                </p>
            </Summary>
            <Detail>
                <p style="display: inline-block">
                    Gungeon Ally is a companian web app for the bullet hell roguelike game, <a href="https://enterthegungeon.com/">Enter the Gungeon</a>.
                </p>
                <img class="project-img" src="/images/etghome.png" />
                <p>
                    The game contains an absolutely vast collection of guns and items for the player to collect.
                    On any given run there is a pool of 243 unique guns and 271 unique items that the player may
                    acquire, many of which also have unique interactions with each other, called synergies, that provide extra enhancements.
                    Constantly lookup these up on the wiki during a game can be inconvenient.
                </p>
                <img class="project-img" src="/images/etgselect.png" />
                <p>
                    Gungeon Ally is the result. It uses an ASP.NET and Blazor Server front-end and SQL Server backend to create a
                    responsive item dictionary and inventory simulator that enables users to quickly locate a gun or item, analyse
                    its stats, and check for potential synergies.
                </p>
                <img class="project-img" src="/images/etginventory.png" />
            </Detail>
        </ProjectElement>
    </section>
</article>