<div class="nm-navbar-content">
    <div class="header-bar">
    </div>

    <nav class="nm-navbar">
        <div class="nav-item">
            <NavLink class="nm-nav-button" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>
                <span>Home</span>
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nm-nav-button" href="./samples/cv.pdf">
                <span class="oi oi-person" aria-hidden="true"></span>
                <span>CV</span>
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nm-nav-button" href="projects">
                <span class="oi oi-list-rich" aria-hidden="true"></span>
                <span>Projects</span>
            </NavLink>
        </div>
    </nav>
</div>